<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <script src="./index.js"></script>
    <title>Dynamic File</title>
</head>

<body>
    <h1>{{title}}</h1>
    <p>Created by {{name}}</p>
    <img src="https://64.media.tumblr.com/f7ad751cba33f928f2474578fb03a31d/tumblr_mxdq30P65e1sxtigjo1_500.jpg"
        style="width: 600px;" alt="" />
</body>

</html>